{% extends "base.html" %}

{% block title %}DuckDB UI - Fissio Base{% endblock %}

{% block content %}
<div class="embedded-view">
    <div class="embedded-header">
        <div class="embedded-title">
            <i class="ti ti-database"></i>
            <h1>DuckDB UI</h1>
        </div>
        <div class="embedded-actions">
            <a href="{{ duckdb_url }}" target="_blank" class="btn btn-secondary">
                <i class="ti ti-external-link"></i>
                Open in New Tab
            </a>
        </div>
    </div>
    <iframe
        src="{{ duckdb_url }}"
        class="embedded-frame">
    </iframe>
</div>
{% endblock %}
